* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

img {
    width: 100%;
}

/* ==================
    typography
===================== */

a {
    text-decoration: none;
    color: #002aff;
}

.foo {
    color: #09ed9a;
}

.word {
    color: #002aff;
}

.bar {
    color: #ff9999;
}

/* ==================
    button
===================== */
.btn {
    background-color: #002aff;
    border: none;
    color: white;
    width: 8rem;
    height: 2.2rem;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    border-radius: 3.5%;
    margin-bottom: 1rem;
    cursor: pointer;
    transform: scale(1);
    transition: transform 150ms;
}

    .btn:hover,
    .btn:focus {
        background-color: white;
        transform: scale(1.025);
    }

.btn-file-upload-display-label:hover,
.btn-file-upload-display-label:focus {
    background-color: white;
    color: #09ed9a;
    border: 1px solid #09ed9a;
    transform: scale(1.025);
}

.btn-file-upload-display-upload:hover,
.btn-file-upload-display-upload:focus {
    background-color: white;
    color: #ff9999;
    border: 1px solid #ff9999;
    transform: scale(1.025);
}

/* ==================
    general layout
===================== */
.root-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(300px, 550px) minmax(1em, 1fr);
    grid-template-areas: ". header ." ". intro ." ". file-upload-display ." ". text-display ." ". user-input-display .";
}

.intro, .file-upload-display, .text-display, .user-input-display {
    display: grid;
}

.intro {
    grid-area: intro;
}

.file-upload-display {
    grid-area: file-upload-display;
}

.text-display {
    grid-area: text-display;
}

.user-input-display {
    grid-area: user-input-display;
}


/* ==================
    header
===================== */
.header {
    grid-area: header;
    font-size: 3rem;
}

.header-title {
    display: flex;
    justify-content: center;
}
/* ==================
    intro
===================== */
.intro {
    line-height: 2rem;
}
/* ==================
    file upload
===================== */

.file-upload-display-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.file-upload-display-label > input[type=file] {
    display: none;
}

.file-upload-display-label {
    flex-grow: 2;
    margin-right: 1rem;
    background-color: #09ed9a;
}

.file-upload-display-upload {
    flex-grow: 1;
    background-color: #ff9999;
}

.file-upload-display-btn-text {
    position: relative;
    top: 8px;
}

/* ==================
    text display
===================== */

.text-display {
    background-color: #e6f6ff;
    border-radius: 2%;
    padding: 1rem;
}

.text-display-title {
    margin: 0;
}

.text-display-text-data-div {
    line-height: 1.8rem;
}
/* ==================
    media-query
===================== */
